extends layout

block content
  #topMessage!= body
  #adminImages
    each image in images
      .imgBox
        .name!= image.fileName
        .img
          img(src="/tn/"+image._id,width="100",height="100")
        .imgCreated!= image.timestamp.toDateString()
  #messageBox
  

    
