extends layout

block content
  #topMessage!= body
  #adminImages
    each image in images
      .imgBox
        span.name!= image.name
        spam.img
          img(src="/bg/"+image._id,width="100",height="100")
        span.imgCreated!= image.timestamp
  #messageBox
  

    
