extends layout

block content
  if locals.message_of_the_day
    #topMessage!= message_of_the_day
  else
    #topMessage
  #mainimg
    canvas#canvas
  #messageBox
  input#load_id(type='hidden',value=load_id)

    
