!!! 5
html(lang='en')
head
  include includes/head
body
  include includes/nav
  .container-fluid
    .row-fluid
      #mainblock.span12
        .span12
           if locals.title
              h2!=title
           block content
    hr
    footer
      p © Philipp Lutz 2013

  script(src='/assets/js/json2.js')
  script(src='/assets/js/jquery.js')
  script(src='/assets/js/underscore-min.js')
  script(src='/assets/js/backbone-min.js')
  script(src='/assets/js/bootstrap.min.js')
  
  script(src='/javascripts/wolken.js')    