!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Wolkenstarrer by Phil and Reffi
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //
       Le styles 
    link(rel='stylesheet', type='text/css', href='../assets/css/bootstrap.min.css')
    style(type='text/css')
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      .PiYG .q0-9{fill:rgb(197,27,125)}
      .PiYG .q1-9{fill:rgb(222,119,174)}
      .PiYG .q2-9{fill:rgb(241,182,218)}
      .PiYG .q3-9{fill:rgb(253,224,239)}
      .PiYG .q4-9{fill:rgb(247,247,247)}
      .PiYG .q5-9{fill:rgb(230,245,208)}
      .PiYG .q6-9{fill:rgb(184,225,134)}
      .PiYG .q7-9{fill:rgb(127,188,65)}
      .PiYG .q8-9{fill:rgb(77,146,33)}
      path {
          stroke: #000;
      }

      circle {
          fill: #fff;
          stroke: #000;
          pointer-events: none;
      }
    //
       Le HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='../assets/ico/favicon.ico')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Wolkenstarrer
          .btn-group.pull-right
            a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
              i.icon-user
              | Username
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Profile
              li.divider
              li
                a(href='#') Sign Out
          .nav-collapse
            ul.nav
              li.active
                a(href='/') Start Over
              li
                a#runList(href='#') List
              li
                a#runVoronoi(href='#') Voronoi Me !
    .container-fluid
      .row-fluid
        #mainblock.span9
          .row-fluid
            .span12
              p
               block content
      hr
      footer
        p © Philipp Lutz 2013

    script(src='/assets/js/json2.js')
    script(src='/assets/js/jquery.js')
    script(src='/assets/js/underscore-min.js')
    script(src='/assets/js/backbone-min.js')
    script(src='/assets/js/bootstrap.min.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/javascripts/wolken.js')    