extends layout
include includes/mixins
block content
  #messageBox
  form.form-horizontal#frm_login
    mixin controlgroup('text','name','Username')
    mixin controlgroup('password','password','Passwort')
    .control-group
      .controls
        button.btn#btn_login(type='submit')
          | Einloggen



    
