extends layout

block content
  #topMessage!= body
  #messageBox
  input#inp_name(type='text',name="name",value=name)
  input#inp_password(type='password',name="password")
  input#inp_submit(type=submit,value="Anmelden")



    
