extends layout

include includes/mixins

block content
  #messageBox
  form.form-horizontal#frm_signup
    mixin controlgroup('text','name','Username')
    mixin controlgroup('email','email','EMail')
    mixin controlgroup('password','password','Passwort')
    mixin controlgroup('password','password2','Passwort nochmal')
    .control-group
      .controls
        button.btn#btn_signup(type='submit')
          | Anmelden  
