extends layout

mixin controlgroup(type,name,placeholder)
  .control-group
    label.control-label(for="inp_"+name)
      = placeholder
    .controls
      input(id="inp_"+name,type=type,name=name,placeholder=placeholder)

block content
  #messageBox
  form.form-horizontal#frm_signup
    mixin controlgroup('text','name','Username')
    mixin controlgroup('email','email','EMail')
    mixin controlgroup('password','password','Passwort')
    mixin controlgroup('password','password2','Passwort nochmal')
    .control-group
      .controls
        button.btn#btn_signup(type='submit')
          | Anmelden  
