body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#adminImages {
  border:1px solid #ccc;
  margin: 2px;
  overflow: hidden;
}

.imgBox {
float:left;
width:256px;
height:256px;
margin:3px;
border:1px solid #ddd;
padding:5px;

}